#!/bin/sh

#1.) Copy this into the folder where you are working
#2.) Change the variables below according to your file names

#Make sure this folder exists or uncomment the line below and fix to point to your scratch folder
#mkdir /scratch/users/sprehei1@jhu.edu/tmp

#add full path in single quotes below
#has to be the full path (maybe with pwd -P in tmp to see true path). Don't use relative path
export TMPDIR='/scratch/users/sprehei1@jhu.edu/tmp'

#changes the folloing to point to your working copy of spades
SPADES=~/work/lib/SPAdes-3.13.1-Linux/bin/spades.py

#The following files should be a combination of all of the Trimmed data
#created by Trimmomatic
FWD_FQ=./all_s1_pe.fastq
REV_FQ=./all_s2_pe.fastq
SE_FQ=./all_se.fastq
OUT_DIR=assembledContigs

echo "Variables imported"
